name: Build Dashboard

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Bundle Assets
        run: python build.py

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Minifier
        run: npm install -g html-minifier

      - name: Minify HTML
        run: |
          html-minifier \
            --collapse-whitespace \
            --remove-comments \
            --minify-css true \
            --minify-js true \
            --output dist/dashboard.min.html \
            dist/index.html

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ferrumc-dashboard
          path: dist/dashboard.min.html
